.divItem {
    position: relative;
    width: 100px;
    height: 100px;
}

.item {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}
.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.item.t {
    border-top: 1px solid #FFF;
}
.item.l {
    border-left: 1px solid #FFF;
}
.item.r {
    border-right: 1px solid #FFF;
}
.item.b {
    border-bottom: 1px solid #FFF;
}

.vertical {
    position: absolute;
    border: 3px solid #FF7A93;
    background: #FF7A93;
    height: 100%;
    left: 47px;
}
.horizontal {
    position: absolute;
    border: 3px solid #FF7A93;
    background: #FF7A93;
    height: 100%;
    left: 47px;
    transform: rotate(90deg);
}
.cross_left {
    position: absolute;
    border: 3px solid #FF7A93;
    background: #FF7A93;
    height: 142%;
    left: 47px;
    top: -21px;
    transform: rotate(45deg);
}
.cross_right {
    position: absolute;
    border: 3px solid #FF7A93;
    background: #FF7A93;
    height: 142%;
    left: 47px;
    top: -21px;
    transform: rotate(315deg);
}