@keyframes loading-initial {
    0% {opacity: 0; background-color: #000000; width: 0;}
    100% {opacity: 1; background-color: #333; width: 100%;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: loading-initial;
    animation-duration: 2s;
    animation-direction: normal;
}

h1 {
    color: #FFF;
    margin: 20px 0;
    text-align: center;
}

.area {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.info {
    width: 300px;
    display: flex;
    margin-top: 30px;
    border: 1px dotted #FFF;
    padding: 10px;
}